---
import { Image } from "astro:assets";
import Layout, { ID_CONTACT, ROUTE_TRIPS } from "../layouts/Layout.astro";
import { Nav } from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import RenovateWidget from "../components/RenovateWidget.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import SectionOrphanage from "../components/SectionOrphanage.astro";
import { ID_GALLERY } from "../components/MediaGallery.astro";

export const ID_OPERATION_CHANGE = "operation-change";
export const ID_RENOVATE = "renovering";

const publicSponsors = [
	"Bostadskvarteret Tofsmesen i Trollhättan",
	"Ica Matmor Oden",
	"Matmor Hjortmossen",
	"Matmor Kungsgatan",
	"Vårdhemmet Tallbacken",
	"Trollhättans Oljor",
	"Gärdhems Goa Gubbar",
	"Jeanette Eriksson",
	"Ingrid Persson",
	"Petter Westerström",
	"Kjell Olsson",
	"Solveig Andersson",
	"Kerstin Eriksson",
	"Sten Broden",
	"Anneli Fredriksson",
	"Anna Kivi",
	"Laila Löfgren",
	"Bert Hilmersson",
	"Larissa Manyrova",
	"Ann-Britt Hagström",
	"Beatrice Pettersson",
];

const privateSponsors = [
	"Peter Westerström",
	"Dan Nilson",
	"Denisa Botonjic",
	"Vera Bergström",
	"Peter (ABF)",
	"Kerstin Åkare",
	"Kerstin Wallsby",
	"Rikard Joelsson",
	"Ulrika Lundström",
	"Isac Svensson",
	"Ann-Sofi Svensson",
	"Robert Svensson",
	"Mujo Alagič",
	"Lena och Anders Malmqvist",
	"Alfons Bengtsson",
	"Lars Karlsson",
	"Lennart Olsson",
	"Gunilla Bönqvist",
	"Kiomars Amina och Vidar Haydar",
	"Lennart och Gunilla",
	"Iryna Melnyk",
	"Iryna Moroz",
	"Oxana Moisejenko",
	"Per-Åke Pettersson",
	"Carola Murås",
	"Lars Hallberg",
	"Lars Karlsson",
	"Ulla Johansson",
	"Gerhard Andersson",
	"Britt-Inger Liedmejer",
	"Dahn Liedmejer",
	"Agneta Backelin",
	"Tutti Dahlqvist",
	"Janne Karlsson",
	"Carina Norden",
	"Marie-Loise Sörqvist",
	"Lena Boustedt",
	"Pia Fröberg",
	"Inger Öhlund",
	"Lisbeth Siljeblom",
	"Marika Boman",
	"Ann-Britt Hagström",
	"Oksana Bedros",
	"Monica Hansson",
	"Mans Hummerhjelm",
	"Marita Hummerhjelm",
	"Hålan Bovimark",
	"Sven Gustavsson",
	"Anna-Lena Andree",
	"Anders Hagström",
	"Mats Lundgren",
	"Åsa Trollälven",
	"Per-Åke Prtterson",
	"Bert Hillmersson",
	"Anna Kågesson",
	"Per Augustsson",
	"Anders Leissner",
	"Lars Guldbrand",
	"Elisabeth Fryden",
	"Per Sjöström",
	"Inga-Lill Andersson",
	"Bertil Bahnkopf",
];
---

<script>
	if (window.navigator.pdfViewerEnabled) {
		let t = document.querySelector("#operation-change");
		t?.classList.add("pdfViewerEnabled");
	}
</script>

<Layout title="Hem" nav={Nav.Home}>
	<main>
		<header class="relative h-screen">
			<div class="absolute left-0 top-0 flex h-full w-full justify-center">
				<div
					class="grid max-w-xl grid-rows-hero items-center px-2 text-center text-shadow"
				>
					<div class="row-start-2">
						<h1 class="flex flex-col items-center gap-4">
							<img class="h-24 md:h-32" src="/logo-text.svg" alt="" />
							<div class="text-ukraine-blue">
								<span class="block text-4xl md:text-5xl"
									>Uddevalla - Trollhättan</span
								>
							</div>
						</h1>
					</div>
					<div class="row-start-3 self-start">
						<p class="mb-8 text-xl text-white md:text-2xl">
							Vi är volontärer inom hjälporganisationen
							<strong>OperationChange</strong>
							som hjälper gamla och barn på barnhem i Ukraina.
						</p>
					</div>
				</div>
			</div>
			<figure class="relative -z-10 h-full w-full bg-hero-gradient">
				<Image
					class="h-full w-full object-cover mix-blend-multiply blur-sm"
					src={import("../assets/hero.jpg")}
					loading="eager"
					alt="Hero"
				/>
			</figure>
		</header>

		<SectionOrphanage
			bg="bg-gray-50"
			title="Dzhulinsky Orphanage House Haivoron"
		/>

		<Section title="Projekt: renovering av barnhemmet">
			<div class="grid gap-4 lg:grid-cols-[auto_min-content]">
				<div class="flex flex-col gap-4">
					<p>
						Sedan sommaren 2023 stöttar Bobban, Lasse och OperationChange
						barnhemmet med kläder, mat och hygienartiklar. Idag ger hemmet tak
						över huvudet och stöd åt 35 barn till flyktingfamiljer från de
						ockuperade områdena. Många av barnen lider av trauman från kriget
						och är i behov av särskild omvårdnad. Volodomyr och hans team gör
						ett fantastiskt arbete med att ge barnen verktyg att hantera sina
						upplevelser, och rusta dem för livet som vuxna. Utöver att ge barnen
						en ordentlig skolgång, ges de även undervisning i grundläggande
						samhällsstruktur och civila kunskaper i brandsäkerhet, sjukvård,
						elsäkerhet, och även hur man skyddar sig mot minor, en sorglig men
						tyvärr nödvändig kunskap för barn att ha i krigets Ukraina. Därför
						har OperationChange nu startat en insamling till renoveringen, med
						planerad byggstart i augusti 2024.
					</p>
					<p>
						Arbetet kommer att ledas av en av våra volontärer med lång
						erfarenhet från byggbranschen.
					</p>
					<p><strong>Mål med projektet</strong></p>
					<ul class="list-inside list-disc">
						<li>Att förbättra de befintliga hygien- och sanitetsutrymmen.</li>
						{
							// prettier-ignore
							(<li>Att öka maxkapaciteten från 35 till 60 barn för att på ett bra sätt kunna ta emot och förbättra för ytterligare krigsdrabbade barn.</li>)
						}
					</ul>
				</div>
				<RenovateWidget />
			</div>
		</Section>

		<Section title="Bobban och Lasses resor" bg="bg-gray-50">
			<div class="mb-8">
				<div class="mb-4 text-center">
					<Link
						text="Senaste: 17/07 - 2024"
						href={`${ROUTE_TRIPS}#${ID_GALLERY}`}
					/>
				</div>
				<Image
					class="h-[600px] w-full object-cover"
					src={import("../assets/trips/2024-06_now/2024-07-17/artikel.jpeg")}
					alt=""
				/>
			</div>
		</Section>

		<Section
			title="Volontär"
			bg="bg-ukraine-blue"
			divide={false}
			class="grid place-items-center gap-8 md:grid-cols-[1fr_2fr]"
		>
			<h2 slot="heading" class="text-white">Volontär</h2>
			<div slot="content" class="text-center text-xl text-white md:text-left">
				<p class="mb-4">
					Om du vill hjälpa till med renoveringen av barnhemmet som volontär och
					är beredd att tillbringa två till tre veckor i Ukraina, kontakta oss
					så hjälper vi dig med ansökan.
				</p>
				<Button text="Kontakta" href={`#${ID_CONTACT}`} inverse={true} />
			</div>
		</Section>

		<Section bg="bg-gray-50">
			<h2 slot="heading" class="mb-4">
				<img
					loading="lazy"
					class="mx-auto h-36"
					src="/logo-text.svg"
					alt="OperationChange"
				/>
			</h2>
			<div id={ID_OPERATION_CHANGE} class="group">
				<div class="grid gap-8 group-[.pdfViewerEnabled]:lg:grid-cols-2">
					<div class="flex flex-col gap-4">
						<p>
							Mer än femhundra dagar har nu gått sedan den fullskaliga
							invasionen av Ukraina. OperationChange är en
							välgörenhetsorganisation, född ur OperationAid. Med förankring i
							den svenska gräsrotsrörelsen arbetar vi outtröttligt för att ge
							stöd och hjälp till behövande i drabbade områden, samt för att
							stödja lokala initiativ i deras arbete. Volontärerna på plats i
							Ukraina ser till att hjälpen når fram och tillgodoser de behov som
							finns.
						</p>
						<div>
							<p>Vi fokuserar på tre områden:</p>
							<ul class="list-inside list-disc">
								<li>
									<strong>Relief</strong> - Omedelbar, direkt humanitär hjälp.
								</li>
								<li>
									<strong>Motståndskraft</strong> - Stöd för återhämtning och uthållighet.
								</li>
								<li>
									<strong>Återuppbyggnad</strong> - Långsiktigt hållbar utveckling.
								</li>
							</ul>
						</div>
						<p>
							Om du vill stödja vårt arbete, kontakta info@operation-change.org
							för att få information om behoven och våra insamlingsställen.
						</p>
						<p>
							Tack vare ert stöd kan vi fortsätta hjälpa det ukrainska folket på
							plats!
						</p>
						<p>
							För mer information se vår hemsida
							<Link
								text="operation-change.org"
								href="https://www.operation-change.org"
							/>.
						</p>
						<div>
							<p>Behov:</p>
							<ul class="list-inside list-disc">
								<li>
									<Link
										text="Sjukvårdsmaterial"
										href="/operation-change/Sjukvårdsmaterial-Q3-2023.pdf"
									/>.
								</li>
								<li>
									<Link
										text="Övrigt"
										href="/operation-change/Insamlingslista-Q3-2023.pdf"
									/>.
								</li>
							</ul>
						</div>
					</div>
					<div
						class="flex group-[.pdfViewerEnabled]:h-[500px] group-[.pdfViewerEnabled]:lg:h-auto"
					>
						<object
							title="Nyhetsbrev"
							aria-label="Nyhetsbrev"
							aria-labelledby=""
							class="w-full"
							type="application/pdf"
							data="/operation-change/Nyhetsbrev-Juli-2024.pdf?#navpanes=0&statusbar=0&messages=0"
						>
							<Link
								text="Nyhetsbrev"
								href="/operation-change/Nyhetsbrev-Juli-2024.pdf"
							/>.
						</object>
					</div>
				</div>
			</div>
		</Section>

		<Section title="Sponsorer" bg="bg-blue-50">
			<div class="mb-4">
				<div class="mb-4 flex flex-wrap justify-center gap-4">
					<a
						class="flex w-fit max-w-md place-items-center gap-6 rounded border-2 border-solid border-[#ed1c24]/25 bg-[#ed1c24]/25 p-4 shadow-md hover:border-[#ed1c24]/75"
						href="https://www.vansterpartiet.se/"
					>
						<img
							loading="lazy"
							class="w-16 md:h-24 md:w-24"
							src="/sponsors/v.svg"
							alt="Vänsterpartiet"
						/>
						<div>
							<p class="text-base text-gray-600">
								Vänsterpartiet och deras medlemmar har bidragit med
							</p>
							<p class="text-3xl">12000 kr</p>
						</div>
					</a>
					<a
						class="flex w-fit max-w-md place-items-center gap-6 rounded border-2 border-solid border-[#50bf61]/25 bg-[#50bf61]/25 p-4 shadow-md hover:border-[#50bf61]/75"
						href="https://veteranpoolen.se/"
					>
						<img
							loading="lazy"
							class="w-16 md:h-24 md:w-24"
							src="/sponsors/vp.svg"
							alt="Veteranpoolen"
						/>
						<div>
							<p class="text-base text-gray-600">
								Veteranpoolen och deras medlemmar har bidragit med
							</p>
							<p class="text-3xl">3000 kr</p>
						</div>
					</a>
					<a
						class="flex w-fit max-w-md rounded border-2 border-solid border-[#d80811]/25 bg-[#d80811]/25 p-4 shadow-md hover:border-[#d80811]/75"
						href="https://www.abf.se/"
					>
						<img
							loading="lazy"
							class="w-16 md:h-24 md:w-24"
							src="/sponsors/abf.svg"
							alt="ABF"
						/>
					</a>
					<a
						class="flex w-fit max-w-md rounded border-2 border-solid border-[#00539b]/25 bg-[#00539b]/25 p-4 shadow-md hover:border-[#00539b]/75"
						href="https://lionsuddevalla.se/"
					>
						<Image
							class="w-16 object-contain md:h-24 md:w-24"
							width={96}
							height={96}
							src="/sponsors/lu.png"
							alt="Lions Uddevalla"
						/>
					</a>
				</div>
				<div class="flex flex-wrap justify-center gap-x-8 gap-y-4 text-center">
					{publicSponsors.map((sponsor) => <p>{sponsor}</p>)}
				</div>
			</div>
			<div
				class="flex flex-wrap justify-center gap-x-8 gap-y-4 border-t border-t-blue-200 pt-4 text-center"
			>
				{privateSponsors.map((sponsor) => <p>{sponsor}</p>)}
			</div>
		</Section>
	</main>
</Layout>
